---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

{% if page.video %}
  <div class="videoWrapper">
    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/{{ page.video }}?rel=0&amp;showinfo=0{% if page.loop == 1 %}&amp;loop=1&amp;playlist={{ page.video }}{% endif %}{% if page.autoplay == 1 %}&amp;autoplay=1{% endif %}" frameborder="0" allowfullscreen></iframe>
  </div>
{% endif %}
{% if page.image %}
  <div class="videoWrapper">
    <img width="100%" height="auto" src="../../assets/project-images/{{page.image}}.png" />
  </div>
{% endif %}


  <header class="post-header">

    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %Y" %}
        {{ page.project_date | page.date }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
